#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 350px;
    z-index: 999;
    backdrop-filter: blur(5px);
}


#header .h_inner {
    height: 100vh;
    padding: 100px 0 0 0;
    text-align: center;
    background-color: var(--primary-color);
}


#header .h_inner .h_left {
    margin: 0 0 48px 0;
}


#header .h_inner .logo {
    margin: 0 0 48px 0;
    position: relative;

}

#header .h_inner .logo::before {
    content: "";
    position: absolute;
    bottom: -15px;
    left: 50%;

    transform: translate(-50%, 0);

    width: 32px;
    height: 1px;
    background: var(--white-color);
}


#header .h_inner .logo img {
    width: 250px;
    height: 177px;
}

#header .h_inner .gnb>ul>li~li {
    /* margin: 16px 0 0 0; */
}

#header .h_inner .gnb>ul>li>a {
    display: inline-block;
    padding: 16px 32px;
    font-size: 18px;
    color: var(--white-color);
}

#header .h_inner .gnb>ul>li>a:hover {
    background-image:url(../images/deco_dot2.png);
}


#header .h_inner .resevation {
    margin: 0 auto;
    width: 200px;
    background-color: rgba(0, 0, 0, 0.3);
    /* box-shadow: 0 0 16px rgba(255, 255, 255, 0.2); */
}

#header .h_inner .resevation a {
    padding: 24px;
    font-size: 16px;
    font-weight: 500;
    color: var(--white-color);
}


/* //헤더 끝// */


.ht {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    z-index: 99;
}

.ht .inner {
    position: relative;
    max-width: 1570px;
    margin: 0 auto 0 350px;
    padding: 0 80px;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: flex-end;
    height: 40px;
    transition: 0.3s;
}

.ht .inner::before {
    content: "";
    position: absolute;
    inset: 0 0 0 0;
    z-index: -1;
    background-color: var(--scondary-color);
    opacity: 0.3;
}

.ht:hover .inner {
    transition: 0.3s;
    background: rgba(0, 0, 0, 0.5);
}

.ht .inner .site {
    position: relative;
    color: var(--white-color);
}

.ht .inner .site .lnk {
    position: absolute;
    top: 28px;
    left: 50%;

    transform: translate(-50%, 0);
    display: none;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
}


.ht .inner .site .lnk>li {
    margin: 8px 0;
}

.ht .inner .utils {
    color: var(--white-color);
}

.ht .inner .utils>ul {
    display: flex;
    gap: 20px;
}


.ht .inner .lang {
    color: var(--white-color);
}

.ht .inner .lang .lnk {
    display: none;
    position: absolute;
}

/* //ht 끝// */

#main_visual {}

#main_visual .main_visual_slide {
    position: relative;
    margin: 0 0 0 350px;
}

#main_visual .main_visual_slide .itm {
    height: 100vh;

}


#main_visual .main_visual_slide .itm .slg {
    position: absolute;
    top: 60%;
    left: 80px;
    transform: translate(0, -50%);
    z-index: 999;
}


#main_visual .main_visual_slide .itm .slg strong {
    font-size: 80px;
    font-weight: 800;
    color: var(--white-color);
}

#main_visual .main_visual_slide .itm01 {
    background-image: url(../images/main_visual/main_visual_slide_01.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}


#main_visual .main_visual_slide .itm01::before {
    content: "";
    position: absolute;
    top: 0;
    inset: 0 0 0 0;
    background: rgba(0, 0, 0, 0.2);
}


#main_visual .main_visual_slide .itm01 .slg {
    top: 50%;
}


#main_visual .main_visual_slide .itm01 .slg strong {
    letter-spacing: 8px;
    text-shadow: 0 0 24px rgba(0, 0, 0, 0.5);
}

#main_visual .main_visual_slide .itm02 {
    background-image: url(../images/main_visual/main_visual_slide_02-2.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover
}


#main_visual .main_visual_slide .itm02 .slg strong {
    display: block;
    letter-spacing: 6px;
    text-shadow: 0 0 16px rgba(0, 0, 0, 0.6);
    margin: 0 0 24px 0;
}

#main_visual .main_visual_slide .itm02 .slg p {
    color: var(--white-color);
    display: block;
    line-height: 32px;
    font-size: 24px;
    text-shadow: 0 0 16px rgba(0, 0, 0, 0.6);
}

#main_visual .main_visual_slide .itm03 {
    position: relative;
    background-image: url(../images/main_visual/main_visual_slide_03.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover
}


#main_visual .main_visual_slide .itm03 .slg {
    display: flex;
    gap: 30px;
    align-items: flex-end;
}

#main_visual .main_visual_slide .itm03 .slg strong {
    display: block;
    font-size: 80px;
    letter-spacing: 6px;
    line-height: 88px;
    text-shadow: 0 0 16px rgba(0, 0, 0, 0.4);
    margin: 0 0 24px 0;
}

#main_visual .main_visual_slide .itm03 .slg .desc {
    margin: 0 0 28px 0;
}

#main_visual .main_visual_slide .itm03 .slg .desc p {
    display: block;
    color: var(--white-color);
    font-size: 24px;
    line-height: 32px;
    margin: 0 0 16px 0;
}

#main_visual .main_visual_slide .itm03 .slg .desc button {
    border: 1px solid var(--white-color);
    padding: 8px 32px;
    cursor: pointer;
}

#main_visual .main_visual_slide .itm03 .slg .desc a {
    font-size: 14px;
    font-weight: 400;
    color: var(--white-color);
}

#main_visual .main_visual_slide .itm03::before {
    content: "";
    position: absolute;
    top: 0;
    inset: 0 0 0 0;
    background: rgba(0, 0, 0, 0.2);
}


#main_visual .main_visual_slide .itm04 {
    background-image: url(../images/main_visual/main_visual_slide_04.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover
}

#main_visual .main_visual_slide .itm04 .slg {
    top: 50%;
    right: 80px;
    transform: translate(0, -50%);
}


#main_visual .main_visual_slide .itm04 .slg strong {
    display: block;
    font-size: 100px;
    text-align: right;
    margin: 0 -12px 100px 0;
    letter-spacing: 4px;
}


#main_visual .main_visual_slide .itm04 .slg p {
    position: relative;
    display: block;
    font-size: 32px;
    line-height: 48px;
    color: var(--white-color);
    text-align: right;
    margin: 0 0 16px 0;
}


#main_visual .main_visual_slide .itm04 .slg p~p::before {
    content: "";
    position: absolute;
    top: -45px;
    right: 0;
    width: 200px;
    height: 1px;
    background: var(--white-color);
}


#main_visual .main_visual_slide .dots {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 999;
    width: auto;
}


#main_visual .main_visual_slide .dots .swiper-pagination-bullet {
    width: 40px;
    height: 8px;
    border-radius: 0;
    border: 1px solid var(--back-color);
    background: rgba(0, 0, 0, 0.6);


}

#main_visual .main_visual_slide .dots .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: var(--white-color);
}


/* //메인 슬라이더끝// */


#main_offers {
    padding: 120px 0;
    overflow: hidden;

}

#main_offers .inner {
    position: relative;
}

#main_offers .tit {
    text-align: center;
    margin: 0 0 48px 0;
}

#main_offers .tit h3 {
    font-size: 40px;
    margin: 0 0 16px 0;
}


#main_offers .main_offers_slide {
    margin: 0 -20px;

}


#main_offers .swiper-slide .itm {
    padding: 0 20px;
}

#main_offers .swiper-slide .itm img {}

#main_offers .swiper-slide .itm .desc {
    margin: 24px 0 0 0;

}

#main_offers .swiper-slide .itm .desc>a {
    display: block;
    margin: 0 0 16px 0;
}


#main_offers .swiper-slide .itm .desc.desc>a strong {
    font-size: 24px;
    font-weight: 500;
    color: var(--body-color);
}

#main_offers .swiper-slide .itm .desc.desc>a:hover strong {
    border-bottom: 2px solid var(--body-color);
}


#main_offers .swiper-slide .itm .desc>p {
    display: block;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    overflow: hidden;
    white-space: normal;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break: break-all;
    margin: 0 0 16px 0;
    color: var(--body-color);
}


#main_offers .swiper-slide .itm .desc .period {
    margin: 0 0 16px 0;
}

#main_offers .swiper-slide .itm .desc .period>p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: var(--text-muted);
}


#main_offers .swiper-slide .itm .desc .price {
    padding-top: 16px;
    border-top: 1px solid var(--body-color);
}


#main_offers .swiper-slide .itm .desc .price span {
    margin-right: 4px;
}

#main_offers .swiper-slide .itm .desc .price .price_currency {
    font-size: 14px;
    font-weight: 400;
    color: var(--body-color);
}

#main_offers .swiper-slide .itm .desc .price .price_amount {
    font-size: 20px;
    font-weight: 500;
    color: var(--body-color);
}


#main_offers .inner .more {
    margin: 80px 0 0 0;
    text-align: center;
}

#main_offers .inner .more a {
    font-size: 24px;
    font-weight: 400;
    color: var(--body-color);
}

#main_offers .inner .more i {
    font-size: 16px;
    margin: 0 4px;
}



#main_offers .inner .arrows button {
    position: absolute;
    top: 0;
}

#main_offers .inner .arrows button {
    background: var(--primary-color);
    opacity: 0.5;
    color: var(--white-color);
    padding: 14px;
    cursor: pointer;
}

#main_offers .inner .arrows button i {
    font-size: 20px;
}

#main_offers .inner .arrows .prev {
    left: 35%;
}

#main_offers .inner .arrows .next {
    right: 35%;
}


/* //메인 패키지 끝 */

#main_banner {
    padding: 200px 0;
    background: url(../images/main_banner/main_banner_01.jpg)no-repeat center center/cover;
    background-attachment: fixed;
    overflow: hidden;
    position: relative;
}

#main_banner::before {
    content: "";
    position: absolute;
    inset: 0 0 0 0;
    background: rgba(0, 0, 0, 0.3);
}

#main_banner .inner {
    position: relative;

}


#main_banner .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}


#main_banner .container h3 {
    font-size: 48px;
    color: var(--white-color);
    margin: 0 0 24px 0;
}

#main_banner .container .more {
    text-align: center;
}

#main_banner .container .more a {
    font-size: 20px;
    color: var(--white-color);
    text-shadow: 0 4px 16px rgba(0, 0, 0, 0.6);
}

#main_banner .container .more i {
    vertical-align: middle;
}

/* //메인 룸 배너 끝// */

#main_facility {
    padding: 120px 0;
    overflow: hidden;
}

#main_facility .tit {
    position: relative;
    text-align: center;
    overflow: hidden;
}

#main_facility .tit h3 {
    font-size: 40px;
    margin: 0 0 24px 0;
}

#main_facility .tit p {
    display: block;
    margin: 0 0 100px 0;
}

#main_facility .dots {
    position: absolute;
    bottom: 42px;
    left: 50%;
    transform: translate(-50%, 0);
    width: auto;
    z-index: 999;

}

#main_facility .dots span {
    width: 16px;
    height: 16px;
    background: var(--primary-color);
}


#main_facility .inner {
    position: relative;
}

#main_facility .swiper-slide {
    position: relative;
    display: flex;
    gap: 30px;
}

#main_facility .swiper-slide>* {
    flex: 1;
}

#main_facility .swiper-slide .itm {
    text-align: center;

}

#main_facility .swiper-slide .itm img {
    width: 560px;
}

#main_facility .swiper-slide .desc {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;

}

#main_facility .swiper-slide .desc strong {
    display: block;
    font-size: 24px;
    font-weight: 700;
    margin: 0 0 16px 0;
    color: var(--white-color);
    text-shadow: 0 0 12px rgba(0, 0, 0, 0.8);
}

#main_facility .swiper-slide .desc p {
    display: block;
    font-size: 18px;
    line-height: 24px;
    min-height: 80px;
    color: var(--white-color);
    text-shadow: 4px 4px 16px rgba(0, 0, 0, 0.9);
}


#main_facility .swiper-slide .desc a {
    display: inline-block;
    padding: 8px 16px;
    border: 1px solid var(--white-color);
    color: var(--white-color);
    text-shadow: 0 0 12px rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
}

#main_facility .arrows button {
    color: var(--scondary-color);
    cursor: pointer;

    position: absolute;
    top: 60%;
    transform: translate(0, 0);
    z-index: 999;

}

#main_facility .arrows button::before {
    content: "";
    position: absolute;
    width: 32px;
    height: 32px;
    border-top: 3px solid var(--primary-color);
    border-left: 3px solid var(--primary-color);

}



#main_facility .arrows .prev {
    left: 22%;
    transform: rotate(-45deg);
}


#main_facility .arrows .next {
    right: 22%;
    transform: rotate(135deg);
}





/* // 메인시설 끝// */




#main_dining {
    position: relative;
    padding: 120px 0;
    background-color: var(--back-color);
}

#main_dining .tit h3 {
    margin: 0 0 80px 0;
}


#main_dining .inner {
    display: flex;
    gap: 30px;
}

#main_dining .tap_menu {
    width: 400px;

}

#main_dining .tap_menu li~li {
    margin: 16px 0 0 0;
}

#main_dining .tap_menu li button {
    color: var(--body-color);
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    width: 400px;
    padding: 24px 16px;
    text-align: left;
    background: rgba(131, 125, 122, 0.4);
    cursor: pointer;
}

#main_dining .tap_menu li.on button {
    color: var(--white-color);
    border: none;
    background: linear-gradient(90deg, rgb(120, 109, 103) 0%, rgba(131, 125, 122, 0) 100%);
}


#main_dining .tap_menu .desc {
    display: none;
    padding: 8px;

}

/* #main_dining .tap_menu li.on .desc{
    display: block;
} */

#main_dining .tap_menu .desc strong {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    overflow: hidden;
    white-space: normal;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    word-break: break-all;
    margin: 0 0 8px 0;
}

#main_dining .tap_menu .desc p {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    overflow: hidden;
    white-space: normal;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    word-break: break-all;
}



#main_dining .tap_con {
    overflow: hidden;
}

#main_dining .tap_con .con {
    height: 0;
    overflow: hidden;
}

#main_dining .tap_con .con.on {
    height: auto;
}

#main_dining .tap_con .tap_slide {
    position: relative;
}

#main_dining .tap_con .slg strong {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 999;
    transform: translate(-50%, -50%);
    color: var(--white-color);
    text-shadow: 0 0 16px rgba(0, 0, 0, 0.6);
    letter-spacing: 4px;
    font-size: 48px;

}


/* //메인 다이닝 끝// */



#main_location {
    padding: 120px 0;
}

#main_location .tit h3 {
    margin: 0 0 60px 0;
}

#main_location .inner {
    display: flex;
    align-items: center;

}

#main_location .inner>* {
    flex: 1;
}

#main_location .inner .find {
    color: var(--body-color);
    text-align: center;
}


#main_location .inner .find strong {
    display: block;
    font-size: 48px;
    font-weight: 500;
    margin: 0 0 40px 0;

}

#main_location .inner .find address {
    font-style: normal;
    font-size: 24px;
    font-weight: 400;
    margin: 0 0 24px 0;
}

#main_location .inner .find img {
    width: 16px;
    margin: 0 8px 0 0;
}

#main_location .inner .find a {
    font-size: 14px;
    line-height: 16px;
    margin: 0 0 8px 0;
}

#main_location .inner .map iframe {
    width: 100%;
    border-radius: 16px;
}

/* //메인 로케이션 끝// */


#footer {
    padding: 40px 0;
    background: var(--scondary-color);
    overflow: hidden;
}

#footer .inner {
    display: flex;
    align-items: center;
    gap: 60px;
}


#footer .inner .ft {
    margin: 0 0 20px 0;
}

#footer .inner .ft .logo {
    text-align: center;
    margin: 0 0 16px 0;
}

#footer .inner .ft .app {
    display: flex;
    gap: 30px;
    justify-content: center;
}

#footer .inner .fb {}

#footer .inner .fb dl {}

#footer .inner .fb dl>dd {
    color: var(--white-color);
    font-size: 14px;
    font-weight: 400;
    margin: 0 0 16px 0;
}


#footer .inner .fb>ul {
    display: flex;
    gap: 20px;
    margin: 0 0 40px 0;

}

#footer .inner .fb>ul>li {
    position: relative;
}

#footer .inner .fb>ul>li~li::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -11px;

    transform: translate(0, -50%);

    width: 2px;
    height: 2px;

    background: var(--white-color);
}

#footer .inner .fb ul .b a {
    font-weight: 500;
}

#footer .inner .fb ul>li>a {
    color: var(--white-color);
    font-size: 14px;
    font-weight: 300;
}

#footer .inner .fb .adress {
    display: flex;
    gap: 30px;
}

#footer .inner .fb .adress .sns {
    margin: 0 0 0 auto;
}


#footer .inner .fb .adress .sns ul {
    display: flex;
    gap: 20px;
}



#footer .inner .fb .adress .sns a {
    padding: 14px;
    background: var(--primary-color);
    border-radius: 50%;
}


#footer .inner .fb .adress .sns svg {
    stroke-width: 1;
    stroke: var(--white-color);
    width: 28px;
    height: 28px;
}